.AddNinja{
    border: 1px solid green;
    padding: 20px 10px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}


.FormLabel{
    padding: 10px;
    margin: 10px;
    color: red;
}

.FormInput{
    text-align: center;
    padding: 5px;
    height: 25px;
    border: 2px solid gray;
    margin: 10px;
}

.FormSubmit{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: 1px solid green;
    background-color: red;
    border-radius: 5px;
    color: white;
}